@import 'src/styles/mixins';
.user {
	@include flex-horizontal-center;
	border-radius: $radius;
	min-height: 36px;
	padding: 0 8px;
	gap: 10px;
	.avatar {
		background-color: #fff;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		object-fit: cover;
	}
	.text {
		font-size: 14px;
		line-height: 16px;
	}
}
