<header class="header">
  <a href="/" class="logo">
    Bank App
  </a>
  <div class="block">
    <form class="form">
      <component-field></component-field>
    </form>
    <component-user-item></component-user-item>
    <button type="button" class="button element">
      <span class="material-symbols-outlined">
        logout
      </span>
    </button>
    <!-- <component-button></component-button> -->
  </div>
  <button class="burger" type="button">
    <span class="line"></span>
  </button>
</header>